.uploadButton{
    display:none;
  }

  .uploadLabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #625BF7;
    color: #ffffff;
    height: 35px;
  }
  