
 <!-- <div class="table-responsive">
        <table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
          <thead>
            <tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
              <th class="p-0 pb-3 min-w-50px text-start">Code</th>
              <th class="text-start p-0 pb-3 min-w-100px  pe-13">Description</th>
              <th class="text-start p-0 pb-3 min-w-50px  pe-13">Notes</th>
            </tr>
          </thead>
          <tbody class="cust-table-body">
            <tr style="position:relative" *ngFor="let condition of conditionsArr; index as i">
              <td>
                <input [disabled]="condition.code!='' && condition.condId!='' && condition.need!=''" (keyup)="onKeyup($event,i)" type="text" [(ngModel)]="condition.code" placeholder="Type to search">
              </td>
              <td class="text-start">
                <span class="text-gray-600 fw-bold fs-6">{{condition.desc}}</span>
              </td>
              <td class="text-start">
                <input [disabled]="condition.code!='' && condition.condId!='' && condition.need!=''" (change)="setNeedInCondition($event,i)" type="text" [(ngModel)]="condition.need" placeholder="Need">
              </td>
            </tr>
          </tbody>
        </table>

      </div>  -->

        <div
        class="card mb-10"
        *ngFor="let condition of conditionsArr; index as i"
        >
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="">
                <span>Code:</span>&nbsp;
                <span class="text-muted font-weight-bold">{{
                  condition.code || "NA"
                }}</span>
              </div>
        
              <div class="">
                <span>Description:</span>&nbsp;
                <span class="text-muted font-weight-bold">{{
                  condition.desc || "NA"
                }}</span>
              </div>
        
              <div class="">
                <span>Notes:</span>&nbsp;
                <span class="text-muted font-weight-bold">{{
                  condition.need || "NA"
                }}</span>
              </div>
            
            </div>
        
          </div>
        </div>
        </div>
     
     
