<div class="wrapper d-flex flex-column flex-row-fluid">
  <div id="kt_header" style="" class="header align-items-stretch">
    <!--begin::Container-->
    <div
      class="container-fluid d-flex align-items-stretch justify-content-between"
    >
      <!--begin::Aside mobile toggle-->
      <div
        class="d-flex align-items-center d-lg-none ms-n2 me-2"
        title="Show aside menu"
      >
        <!-- 
                <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
             
                  <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor"></path>
                      <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor"></path>
                    </svg>
                  </span>
            
                </div> -->
      </div>
      <!--end::Aside mobile toggle-->
      <!--begin::Mobile logo-->
      <!--  <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                <a href="../../demo1/dist/index.html" class="d-lg-none">
                  <img alt="Logo" src="assets/media/logos/logo-2.svg" class="h-30px">
                </a>
              </div> -->
      <!--end::Mobile logo-->
      <!--begin::Wrapper-->
      <div
        class="d-flex align-items-stretch justify-content-between flex-lg-grow-1 fs-width-100"
      >
        <!--begin::Navbar-->
        <div class="d-flex align-items-stretch" id="kt_header_nav">
          <!--begin::Menu wrapper-->
          <div class="align-items-stretch">
            <!--begin::Menu-->
            <div class="menu menu-lg-rounded menu-lg-row" id="kt_header_menu">
              <div
                class="aside-logo flex-column-auto cs-mr-20"
                id="kt_aside_logo"
              >
                <!--begin::Logo-->
                <a href="javascript:void(0)">
                  <h1 class="cs-mt-20">FHIRedSHIP</h1>
                </a>
                <!--end::Logo-->
              </div>

              <div
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1"
                (click)="redirectTo('/dashboard')"
                [ngClass]="{ show: currentUrl === '/dashboard' }"
                *ngIf="role !== 'Patient'"
              >
                <span class="menu-link py-3">
                  <span class="menu-title">Dashboard</span>
                </span>
              </div>

              <div
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-start"
                *ngIf="role === 'Chw' || role === 'chw-organization'"
                class="menu-item menu-lg-down-accordion me-lg-1"
                (click)="redirectTo('/patients')"
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                [ngClass]="{ show: currentUrl === '/patients' }"
              >
                <span class="menu-link py-3">
                  <span class="menu-title">Patients</span>
                  <!--  <span class="menu-arrow d-lg-none"></span> -->
                </span>
              </div>

              <div
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-start"
                *ngIf="role === 'Patient'"
                class="menu-item menu-lg-down-accordion me-lg-1"
                (click)="redirectTo('assessments')"
                data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                [ngClass]="{ show: currentUrl === '/patients' }"
              >
                <span class="menu-link py-3">
                  <span class="menu-title">Assessments</span>
                  <!--  <span class="menu-arrow d-lg-none"></span> -->
                </span>
              </div>

              <div
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1"
                (click)="redirectTo('/referrals')"
                [ngClass]="{ show: currentUrl === '/referrals' }"
              >
                <span class="menu-link py-3">
                  <span class="menu-title">Referrals</span>
                  <!--     <span class="menu-arrow d-lg-none"></span> -->
                </span>
              </div>
            </div>
            <!--end::Menu-->
          </div>
          <!--end::Menu wrapper-->
        </div>
        <!--end::Navbar-->
        <!--begin::Toolbar wrapper-->
        <div class="d-flex align-items-stretch flex-shrink-0">

          <div
            class="d-flex align-items-center ms-1 ms-lg-3"
            *ngIf="inFrame !== true"
          >
            <div
              class="fw-bold d-flex align-items-center fs-6 text-white"
              id="fs-user-detail"
            >
              <div
                class="alert alert-warning mb-5 p-5 mb-lg-0 me-lg-20 fs-alert-msg-header"
                role="alert"
                *ngIf="isAccountLinked == false && role !== 'Patient'"
              >
                Your account is not link with referral.
                <a
                  href="javascript:void(0)"
                  (click)="open(content)"
                  class="alert-link"
                >
                  Click here to link</a
                >
              </div>

              <span
                *ngIf="name !== 'undefined' && name !== 'null' && name !== ''"
                >{{ name }}</span
              >
              <span
                *ngIf="name === 'undefined' || name === 'null' || name === ''"
                >{{ email }}</span
              >
              <span
                class="badge badge-light-success fw-bold fs-8 px-1 py-1 ms-2"
                >{{ role | uppercase }}</span
              >
            </div>
          </div>

          <!--begin::Notifications-->
          <div
            class="d-flex align-items-center ms-1 ms-lg-3"
            *ngIf="role !== 'Patient'"
          >
            <!--begin::Menu- wrapper-->
            <div
              class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px"
              ngbDropdown
              data-kt-menu-trigger="click"
              data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end"
              placement="bottom-end"
            >
              <!-- notification drop down box -->
              <div
                type="button"
                class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-40px h-md-40px position-relative"
                id="notification-icon"
                ngbDropdownToggle
              >
                <span class="svg-icon svg-icon-1">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="0.3"
                      d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z"
                      fill="currentColor"
                    ></path>
                    <rect
                      x="6"
                      y="12"
                      width="7"
                      height="2"
                      rx="1"
                      fill="currentColor"
                    ></rect>
                    <rect
                      x="6"
                      y="7"
                      width="12"
                      height="2"
                      rx="1"
                      fill="currentColor"
                    ></rect>
                  </svg>
                </span>
                <span
                  class="p-3 badge badge-danger badge-circle fw-bold h-15px w-15px position-absolute translate-left top-0 start-50"
                  *ngIf="notificationCount !== 0"
                  >{{ notificationCount }}</span
                >
              </div>

              <div
                ngbDropdownMenu
                aria-labelledby="notification-icon"
                style=""
                class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px flex-column"
                *ngIf="notifications.length !== 0"
              >
                <span class="">
                  <h4
                    class="fs-5 text-gray-800 fw-bold mb-3 ms-7 mt-1 fs-inline"
                  >
                    Notifications
                  </h4>
                  <span
                    class="me-4 fs-7 mt-1 fs-show-all-link"
                    (click)="redirectTo('/notifications')"
                    >View All</span
                  >
                </span>

                <div class="separator my-1"></div>

                <div class="list-scroll">
                  <div
                    class="menu-item px-3 d-flex flex-column flex-grow-1"
                    *ngFor="let notification of notifications; index as i"
                    (click)="
                      notificationRead(notification);
                      redirectNotification(notification.url)
                    "
                    ngbDropdownToggle
                  >
                    <a class="menu-link">
                      <!-- <span class="menu-title" >{{notification.message}}</span> -->

                      <span class="d-flex flex-column">
                        <span
                          class="fs-7 fw-semibold text-gray-800"
                          [innerHtml]="notification.message | safeHtml"
                        ></span>
                        <span class="fs-8 fw-semibold text-muted">{{
                          returnTime(notification.createdAt)
                        }}</span>
                      </span>
                    </a>
                  </div>
                  <div
                    class="px-7 py-4 d-flex flex-column flex-grow-1 text-center"
                  >
                    <a
                      class="menu-link"
                      href="javascript:void(0)"
                      *ngIf="notificationCount > notifications.length"
                      (click)="loadMore()"
                      >Load More...</a
                    >
                  </div>
                </div>

                <!-- <div class="separator my-1"></div>
                <span class="d-flex flex-row">
                  <button
                    type="button"
                    class="btn btn-info btn-sm flex-grow-1 fw-semibold mx-7"
                    (click)="markAll()"
                    ngbDropdownToggle
                  >
                    Mark All As Read
                  </button>
                </span> -->

                <div class="separator my-2"></div>
                <div (click)="markAll()" class="menu-item px-3">
                  <a class="menu-link">Mark All As Read</a>
                </div>
              </div>

              <div
                ngbDropdownMenu
                aria-labelledby="notification-icon"
                style=""
                class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
                *ngIf="notifications.length === 0"
              >
                <div class="menu-item px-3">
                  <a class="menu-link">No Notifications Found</a>
                </div>
              </div>

              <!-- end: notification drop down box -->
            </div>

            <!--end::Menu wrapper-->
          </div>
          <!--end::Notifications-->

          <!--begin::User menu-->
          <div
            ngbDropdown
            *ngIf="inFrame !== true"
            class="d-flex align-items-center ms-1 ms-lg-3"
            id="kt_header_user_menu_toggle"
          >
            <!--begin::Menu wrapper-->
            <div
              ngbDropdownToggle
              class="cursor-pointer symbol symbol-30px symbol-md-40px"
              data-kt-menu-trigger="click"
              data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end"
            >
              <img
                *ngIf="role === 'Patient'"
                alt="user"
                src="assets/media/avatars/pat.jpg"
              />
              <img
                *ngIf="role === 'Chw' || role === 'chw-organization'"
                alt="user"
                src="assets/media/avatars/chw.jpg"
              />
              <img
                *ngIf="role === 'Cbo' || role === 'cbo-organization'"
                alt="user"
                src="assets/media/avatars/cbo.jpg"
              />
            </div>
            <!--begin::User account menu-->

            <div
              ngbDropdownMenu
              aria-labelledby="notification-icon"
              style=""
              class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
            >
              <div class="menu-item px-3">
                <div class="menu-content d-flex align-items-center px-3">
                  <!--begin::Avatar-->
                  <div class="symbol symbol-50px me-5">
                    <img
                      *ngIf="role === 'Patient'"
                      alt="Logo"
                      src="assets/media/avatars/pat.jpg"
                    />
                    <img
                      *ngIf="role === 'Chw' || role === 'chw-organization'"
                      alt="Logo"
                      src="assets/media/avatars/chw.jpg"
                    />
                    <img
                      *ngIf="role === 'Cbo' || role === 'cbo-organization'"
                      alt="Logo"
                      src="assets/media/avatars/cbo.jpg"
                    />
                  </div>
                  <!--end::Avatar-->
                  <!--begin::Username-->
                  <div class="d-flex flex-column">
                    <div class="fw-bolder d-flex align-items-center fs-5">
                      {{ name }}
                      <span
                        class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"
                        >{{ role | uppercase }}</span
                      >
                    </div>
                    <a
                      href="#"
                      class="fw-bold text-muted text-hover-primary fs-7"
                      >{{ email }}</a
                    >
                  </div>
                  <!--end::Username-->
                </div>
              </div>

              <div class="separator my-2"></div>
              <div class="menu-item px-3" (click)="redirectTo('/settings')">
                <a class="menu-link">Settings</a>
              </div>
              <div (click)="logoutUser()" class="menu-item px-3">
                <a class="menu-link">Sign Out</a>
              </div>
            </div>

            <!--   </div> -->

            <!--end::User account menu-->
            <!--end::Menu wrapper-->
          </div>

          <!--end::User menu-->
        </div>
        <!--end::Toolbar wrapper-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>

  <div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
      <!--begin::Page title-->

      <div
        data-kt-swapper="false"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
        class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
      >
        <h1
          class="d-flex text-dark fw-bolder fs-3 align-items-center my-1 text-capitalize"
        >
          {{ subHeading }}
          <!--begin::Separator-->
          <span
            class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
          ></span>
          <!--end::Separator-->
          <ul
            class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1 ml-2" *ngIf="breadcrumbData.length !== 0"
          >
            <!--begin::Item-->
            <li
              class="breadcrumb-item text-muted"
              *ngFor="let breadcrumb of breadcrumbData;index as i"
            >
              <span
                (click) = "redirectTo(breadcrumb.url)"
                class="text-muted text-hover-primary cursor-pointer"
              >
                {{breadcrumb.name}}
              </span>
              <span class="bullet bg-gray-400 w-5px h-2px ms-2" *ngIf="breadcrumb.last === false"></span>
            </li>
            <!-- <li class="breadcrumb-item">
              <span class="bullet bg-gray-400 w-5px h-2px"></span>
          </li> -->
            <!--end::Item-->
          </ul>
          <!--begin::Description-->
          <!-- <span class="text-muted fs-7 fw-bold mt-2">#XRS-45670</span> -->
          <!--end::Description-->
        </h1>

        <!-- <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1" *ngIf="currentUrl == '/settings'">
          Settings
          <span
            class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
          ></span>
        </h1>

          <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1" *ngIf="currentUrl == '/dashboard'">
          Dashboard
          <span
            class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
          ></span>
        </h1>

          <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1" *ngIf="currentUrl == '/patients'">
          Patients
          <span
            class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
          ></span>
        </h1>

          <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1" *ngIf="currentUrl == '/referrals'">
          Referrals
          <span
            class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
          ></span>

        </h1> -->

        <div
          class="alert alert-warning p-5 mb-lg-0 me-lg-20 fs-alert-msg"
          role="alert"
          *ngIf="(isAccountLinked == false && role !== 'Patient')"
        >
          Your account is not link with referral.
          <a
            href="javascript:void(0)"
            (click)="open(content)"
            class="alert-link"
          >
            Click here to link</a
          >
        </div>

        <!--end::Title-->
      </div>

      <!--end::Page title-->
    </div>
    <!--end::Container-->
  </div>

  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- account link popup -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">
      Create link with referral account
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="form fv-plugins-bootstrap5 fv-plugins-framework"
      [formGroup]="linkingForm"
      autocomplete="off"
      novalidate="novalidate"
      id="kt_modal_create_app_form"
    >
      <div class="current" data-kt-stepper-element="content">
        <div class="w-100">
          <div class="fv-row mb-10 fv-plugins-icon-container">
            <label class="d-flex align-items-center fs-5 fw-bold mb-2">
              <span class="required">Email</span>
            </label>

            <input
              class="form-control form-control-lg form-control-solid"
              placeholder="email"
              [formControl]="$any(linkingForm.controls['email'])"
              type="email"
              name="email"
              autocomplete="off"
              (input)="checkValue()"
            />
            <small
              class="form-text text-danger"
              *ngIf="
                (linkingForm.controls['email'].status == 'INVALID' &&
                  linkingForm.controls['email'].touched) ||
                (linkingForm.controls['email'].hasError('required') &&
                  linkingForm.controls['email'].touched)
              "
              >Enter valid Email</small
            >
            <small class="form-text text-danger" *ngIf="emailNotFound == true"
              >Email not found</small
            >

            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!--    <button type="button" class="btn btn-outline-dark" (click)="save(modal)">Link</button> -->

    <button
      (click)="save(modal)"
      type="button"
      class="btn btn-lg btn-primary"
      data-kt-stepper-action="next"
    >
      Link
      <span class="svg-icon svg-icon-3 ms-1 me-0"> </span>
    </button>
  </div>
</ng-template>

<button
  style="display: none"
  id="linkingModal"
  class="btn btn-lg btn-outline-primary"
  (click)="open(content)"
>
  Launch demo modal
</button>
