.dropdown-toggle::after {
    display:none!important;
}

.header-fixed .header {
background-color: #625BF7;
}

.dropdown-toggle {
    white-space: normal!important;
}

.fs-show-all-link{
color:#625BF7;
text-decoration:underline;
float:right;
}
.fs-inline{
display:inline-block;
}