
              <div class="card card-flush mb-6">
             
                <div class="card-header">
               
                  <h3 class="card-title text-gray-800 fw-bold">
                    Recent Tasks
                  </h3>
              
                  <div class="card-toolbar">
                  
                  </div>
          
                </div>
         
              
                <div class="card-body pt-0 overflow-auto pos-relative min-height-200">

                   <app-spinner *ngIf="showLoading== true"></app-spinner>

                 <div *ngIf="tasks.length == 0 && showLoading == false">
                   <div class="d-flex flex-column flex-grow-1">
                              <span class="text-muted font-weight-bold">No Task Found</span>
                            </div>
                      </div>
                        <div *ngIf="tasks.length > 0 && showviewallTask">
                        <div class="mb-5" *ngFor="let task of tasks; let i=index">
                        
                          <div class="d-flex align-items-center">
                          
                            <div class="symbol symbol-45 symbol-light mr-5">
                            
                            </div>
                          
                            <div class="d-flex flex-column flex-grow-1">
                              <a href="javascript:void(0)" class="font-weight-bold text-dark-75 text-gray-800 text-hover-gray font-size-lg mb-1">{{task.message}}</a>
                              <span class="text-muted font-weight-bold">{{returnTime(task.updatedAt)}}</span>
                            </div>
                          
                          </div>
                   
                        </div>
                        </div>

                 <div *ngIf="tasks.length > 0 && !showviewallTask">
                          <div class="card mb-10 shadow-sm card-bordered" *ngFor="let task of tasks; index as i">
                            <div class="card-body cursor-pointer">
                              <div class="row">
                                <div class="col-sm-11" (click)="redirectTo(task)">
                                  <div class="mb-1">
                                    <span class="fw-bold fw-bold fs-sm-4">{{
                                      task.message ? task.message : task.title
                                    }}</span
                                    >&nbsp; <a href="javascrpit:void(0)" *ngIf="task.url" (click)="redirectTo(task)">Click here to review</a>
                                  </div>
                    
                                   <div class="mb-1 text-gray-800" *ngIf="task.desc != ''">
                                    <span class="fw-bold">Description:</span>&nbsp;
                                    <span class="text-muted font-weight-bold">
                                      {{ task.desc }}
                                    </span>
                                  </div>
                    
                    
                                  <div class="mb-1 text-gray-800">
                                    <span class="fw-bold">Status:</span>&nbsp;
                                    <span class="text-muted font-weight-bold">
                                      {{ task.status }}
                                    </span>
                                  </div>
                    
                                  <div class="mb-1 text-gray-800">
                                    <span class="fw-bold">Assigned To:</span>&nbsp;
                                    <span class="text-muted font-weight-bold">
                                      {{
                                        task.actorId && task.actorId.email
                                          ? task.actorId.email
                                          : "---"
                                      }}
                                    </span>
                                  </div>
                    
                                  <div class="mb-1 text-gray-800">
                                    <span class="fw-bold">Assigned By:</span>&nbsp;
                                    <span class="text-muted font-weight-bold">
                                      {{
                                        task.senderId && task.senderId.email
                                          ? task.senderId.email
                                          : "---"
                                      }}</span
                                    >
                                  </div>
                    
                                  <div class="mb-1 text-gray-800">
                                    <span class="fw-bold">Due Date:</span>&nbsp;
                                    <span class="text-muted font-weight-bold">
                                      {{ task.dueDate | date: "MMM d, y" }}</span
                                    >
                                  </div>
                                </div>
                    
                                <div class="col-sm-1 d-flex align-items-center justify-content-end">
                                  <div class="">
                                    <div ngbDropdown class="d-inline-block">
                                      <span
                                        class="svg-icon svg-icon-muted svg-icon-2hx cursor-pointer"
                                        id="dropdownBasic1"
                                        ngbDropdownToggle
                                      >
                                        <svg
                                          width="24"
                                          height="24"
                                          viewBox="0 0 24 24"
                                          fill="none"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <rect
                                            x="10"
                                            y="10"
                                            width="4"
                                            height="4"
                                            rx="2"
                                            fill="currentColor"
                                          />
                                          <rect
                                            x="10"
                                            y="3"
                                            width="4"
                                            height="4"
                                            rx="2"
                                            fill="currentColor"
                                          />
                                          <rect
                                            x="10"
                                            y="17"
                                            width="4"
                                            height="4"
                                            rx="2"
                                            fill="currentColor"
                                          />
                                        </svg>
                                      </span>
                    
                                      <div
                                        ngbDropdownMenu
                                        aria-labelledby="dropdownBasic1"
                                        style=""
                                        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
                                      >
                                        <div class="menu-item px-3" *ngFor="let status of taskStatus;" (click)="changeStatus(status,i)" ngbDropdownToggle>
                                          <a class="menu-link">{{status}}</a>
                                        </div>
                    
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>



<div *ngIf="totalCount > 10 && totalCount!=tasks.length && !showviewallTask" width="100%" class="text-center mt-3 mb-3">
<button  (click)="loadMore()" type="button " class="btn fs-btn btn-sm " data-kt-stepper-action="next">
            Load More 
<span *ngIf="inProgress==true" class="load-more-btn svg-icon svg-icon-muted svg-icon-2hx"><svg width="5" height="5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"/>
<rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor"/>
<rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor"/>
</svg>
</span>
          </button>

</div>


                        
                    
                      </div>



    <div *ngIf="showviewallTask && tasks.length > 0" class="d-flex flex-stack mt-auto bd-highlight j-c-r pd-10">
    <a (click)="showAll()" href="javascript:void(0)" class="text-primary opacity-75-hover fs-6 fw-semibold">View All
       
        <span class="svg-icon svg-icon-4 svg-icon-gray-800 ms-1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M4.7 17.3V7.7C4.7 6.59543 5.59543 5.7 6.7 5.7H9.8C10.2694 5.7 10.65 5.31944 10.65 4.85C10.65 4.38056 10.2694 4 9.8 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21H18C19.1046 21 20 20.1046 20 19V14.2C20 13.7306 19.6194 13.35 19.15 13.35C18.6806 13.35 18.3 13.7306 18.3 14.2V17.3C18.3 18.4046 17.4046 19.3 16.3 19.3H6.7C5.59543 19.3 4.7 18.4046 4.7 17.3Z" fill="currentColor"></path>
                <rect x="21.9497" y="3.46448" width="13" height="2" rx="1" transform="rotate(135 21.9497 3.46448)" fill="currentColor"></rect>
                <path d="M19.8284 4.97161L19.8284 9.93937C19.8284 10.5252 20.3033 11 20.8891 11C21.4749 11 21.9497 10.5252 21.9497 9.93937L21.9497 3.05029C21.9497 2.498 21.502 2.05028 20.9497 2.05028L14.0607 2.05027C13.4749 2.05027 13 2.52514 13 3.11094C13 3.69673 13.4749 4.17161 14.0607 4.17161L19.0284 4.17161C19.4702 4.17161 19.8284 4.52978 19.8284 4.97161Z" fill="currentColor"></path>
            </svg>
        </span>
    </a>
</div>

              </div>
