.spinner-wrapper
{
    margin: 0;
    padding: 0;
    background: rgba(38, 38, 38,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ring
{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 12px;
    color: #625BF7;
    z-index: 10;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #625bf7;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}
.ring:before
{
 content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #625BF7;
    border-right: 3px solid #625BF7;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
 content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #625BF7;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #625bf7;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}